@model IEnumerable<MVC_Application.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <p>No Movies Posted yet</p>
}
else
{
    <table class="table table-striped table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Customers
                </th>
                <th>
                    Discount Rate
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id}, null)
                    </td>
                    <td>
                        @movie.Genre
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<ul>
        @foreach (var cust in Model)
        {
            <li>@cust.Name</li>
        }
    </ul>*@
}
